html, body{
    height: 100%;
    width: 100%;
    margin: 0;
}

body{
    background-image: url("../../images/numbers.jpg");
    background-size: cover;
    background-attachment: fixed;
}

div.main_container{
    width: 100%;
    height: 100%;
    background-color: rgba(71, 112, 142, 0.41);
}

div.user_bar{
    margin: 0;
    width: 100%;
    height: 10%;
    background-color: rgba(10,72,51,0.75);
}

div.left_panel{
    float: left;
    height: 85%;
    width: 25%;
    background-color: rgba(67,72,21,0.75);
}
.clear{
    clear: both;
}
div.bottom{
    width: 100%;
    background-color: rgba(52,21,72,0.75);
    height: 5%;
}
div.content{
    float: left;
    height: 85%;
    width: 100%;
    background-color: rgba(72,10,7,0.75);
}

.user_info {
    top: 0;
    width: 20%;
    height: 100%;
    float: right;
}

input.exit_button{
    width: 35%;
    height: 100%;
    float: right;
}

.operand {
    height: 10%;
    font-size: 50px;
    color: rgb(18, 144, 226);
}

.hidden{
    display:none;
}
.expression{
    margin-left: 30%;
    width: 40%;
}

.start_button{
    margin-left: 35vw;
    margin-top: 43vh;
    width: 30vw;
    height: 15vh;
    font-size: 14vh;
}

.answer_input{
    width: 100%;
    height: 20%;
    font-size: 50px;
    color: rgb(18, 144, 226);
    border: none;
    -moz-appearance: textfield;
}

.answer_input::-webkit-inner-spin-button {
    display: none;
}

div.table {
    width: 30%;
}