button.level {
    height: 30%;
    width: 100%;
}

button.mode {
    font-size: large;
    margin: 0;
    height: 20%;
    width: 33.333%;
    background-color: rgba(23, 137, 48, 0.77);
}

button.mode:hover {
    text-decoration: underline currentColor;
}

#mode_add:hover {
    background-color: #283b2c;
}

#mode_sub:hover {
    background-color: rgba(137, 110, 30, 0.77);
}

#mode_mult:hover {
    background-color: rgba(216, 16, 10, 0.54);
}

#mode_div:hover {
    background-color: rgba(212, 216, 50, 0.54);
}

#mode_sqr:hover {
    background-color: rgba(0, 0, 0, 0.54);
}

div.select_level {
    border: solid silver 3px;
    text-align: center;
    margin-top: 10%;
    margin-left: 30%;
    display: none;
    width: 40%;
    height: 60%;
    position: absolute;
    background-color: #276b9f;
    padding: 30px;
    padding-top: 2px;
}

input.temp {
    font-size: x-large;
    border: solid silver;
    background-color: rgba(2, 26, 8, 0.68);
    color: lavender;
    width: 100%;
    height: 25%;
}

input.current {
    font-size: x-large;
    border: solid silver;
    background-color: rgba(0, 24, 137, 0.89);
    color: lavender;
    width: 100%;
    height: 25%;
}