table.state_table{
    margin: 5px;
    color: aliceblue;
    border-collapse: collapse;
    border: solid silver 2px;
}

td, th {
    border: solid silver 2px;
    padding: 10px;
}

.clear_button {
    color: lavender;
    font-size: larger;
    width: 25%;
    height: 15%;
    background-color: rgba(47, 89, 239, 0.82);
}